/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* GOOGLE FONTS */




:root{
    --vvrColor:  rgba(239, 178, 55, 1);
}




html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    text-decoration: underline;
}

#contact, #menu-cards, #tableReservation, #whatGuestsSay, #reviewsLink {
    scroll-margin-top: 30vh; /*again scrolling to top:0*/
}

.grid-tpl-col-200{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-tpl-col-250{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-tpl-col-300{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width:480px) {
    *{text-align: center;}
}

.vvrBtn{
    text-align: center;
    background-color: rgba(0,0,0, 0.5);
    padding: 0.7rem;
    border-radius: 4px;
    border:1px solid transparent;
    cursor: pointer;
}
.vvrBtn:hover{
    border:1px solid white;
    text-decoration: none;
    color: white;
}




/****** NAVBAR ******/
.navbar{
    background-color: rgba(0,0,0, 0.7);
}
.nav-link{
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Antic Didone', serif; */
    /* font-family: 'DM Serif Display', serif; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgba(239, 178, 55, 1) !important;
}
/****** NAVBAR ******/






/****** HEADER ******/
header{
    position: relative;
}
#header .carousel-item{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg1{
    background-image: url(media/goc-ban-an.jpg);
}
.bg2{
    background-image: url(media/ban-an-lon-screen.jpg);
}
.bg3{
    background-image: url(media/dia-ca-nuong.jpg);
}

header .vvrBtn{
    color: var(--vvrColor);
    padding: 1rem 2rem;
}
#onlineBestellung{
    position: absolute;
    bottom: 15vh;
    left: 15vw;
    white-space: nowrap;
}
#tischReservierung{
    position: absolute;
    top: 15vh;
    right: 15vw;
    white-space: nowrap;
}
/****** HEADER ******/





/****** MAIN ******/
section{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section > div{
    margin: 1rem;
}
.section-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    white-space: nowrap;
}
@media (max-width:375px) {
    .section-title{
        white-space: inherit;
    }
}
/****** MAIN ******/



/****** SECTION 1 - OPENING HOUR ******/
#section1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(media/stockvault-wood-background-with-ivy222197.jpg);
    background-position:right;
    background-size: cover;
}
#section1 > div{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem;
    min-height: 60vh;
    justify-content: space-evenly;
    align-items: center;
}
.open-daily{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}
#menu-cards{
    width: 80%;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.mittagskarte, .abendkarte{
    color: var(--vvrColor)
}
/****** SECTION 1 - OPENING HOUR ******/



/****** SECTION 2 - TABLE RESERVATION ******/
#tableReservation img{
    max-height: 300px;
}
#warningAccordion{display: none;}
@media (max-width:610px) {
    #warning{display: none;}
    #warningAccordion {display: block;}
}
/****** SECTION 2 - TABLE RESERVATION ******/



/****** SECTION 3 ******/
#section3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(media/bat-vit-erdnuss.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
}
#section3 h5{
    white-space: nowrap;
}
/****** SECTION 3 ******/




/****** SECTION 4 - WHAT GUESTS SAY ******/
#section4 > div{
    margin: 1rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#whatGuestsSay .carousel-item{
    min-height: 140px;
}
#whatGuestsSay img{
    max-height: 100%;
    max-width: 100%;
    margin-left: auto; margin-right: auto; /*put img in middle*/
}
#whatGuestsSay button:hover{
    background-color: rgba(0,0,0, 0.1);
}
@media (min-width:769px) {
    #whatGuestsSay .carousel-item{
        height: 300px;
    }
}
@media (max-width: 768px) {
    #whatGuestsSay img{
        width: 100%;
    }
}
/****** SECTION 4 - WHAT GUESTS SAY ******/




/****** SECTION 5 ******/
#section5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(media/stockvault-wood-background-with-ivy222197.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
}
.discription5 > div{
    margin: 4rem auto;
    align-items: center;
}
.discription5 > div:nth-child(even){
    direction: rtl;
}
.discription5 .grid-tpl-col-250 p{max-width:400px;}
/****** SECTION 5 ******/





/****** FOOTER ******/
footer{
    padding: 2rem;
    background-color: rgba(0,0,0,0.7);
    color: white;
}
.font-georgia{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.footer2 *{
    text-align: center;
}
.googlemaps{
    display: flex;
    flex-direction: column;
}
.googlemaps iframe{
    height: 50vh;
}
#restaurantGroup img{
    width: 3rem;
}
/****** FOOTER ******/