
/****** NAVBAR ******/
.navbar{
    background-color: rgba(0,0,0, 0.7);
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgba(239, 178, 55, 1) !important;
    min-height: 2.5rem;
}
#call{
    transition: transform 0.2s;
    font-size: 2rem;
}
#call:hover{
    transform: scale(1.3);
}
/****** NAVBAR ******/